<!DOCTYPE html> <!-- NEW VERSION-->
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=devce-width, initial scale 1.0">
  <title> art i dont like </title>
  <link href="/static/css/main.css" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="/static/imgs/Toilets.png"/>
</head>

<body>
 <header>
  <nav>
    <a href="/">
      <img class ="homeButton" src="/static/imgs/logo3.png">
    </a>
    <div class="dropdown">
      <a>
        <img class ="burgerButton" src="/static/imgs/burger.png">
      </a>
      <div class="dropdownContent">
        <a href="/static/html/what.html">what is this?</a>
        <a href="/static/html/who.html">who are we?</a> <br>
        <a href="/static/html/why.html">why did we make this?</a>
      </div>
    </div>
  </nav>
</header>

  <div class="title">
    <strong>art i don't like</strong>
    <div class="dropdown">
      <button>?</button>
      <div class="dropdownContent">
        <p> <b>art i don't like</b> is an art anti-recommender. We will make sure to find something you will not find appealing.<br> <br> How, you ask? Using state-of-the-art Machine Learning algorithms and a vast database of paintings and sculptures, we can guarantee you will not enjoy the artworks we will recommend. </p>
      </div>
    </div>
  </div>

  <a href="/static/html/antirecommender.html">
    <button class ="begin">
      <em> begin </em>
    </button>
  </a>

</body>

<footer class="footer">
  © 2020 <a href="https://www.sarahfrost.org" target="_blank"> Sarah Frost</a> - <a href="https://www.linkedin.com/in/manumathewthomas/" target="_blank">Manu Mathew Thomas</a>  <br>
  UI/UX by <a href="https://behance.net/acalderonl" target="_blank">Alejandro Calderón López</a> - <a href="https://www.behance.net/Asfrattini" target="_blank">Anna Sofía Frattini</a><br>
  </footer>

</html>